/*  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему 
*/
:root.theme-light {
  --text-color: #353430;
  --title-color: #ffc2e6;
  --secondary-color: #353430;
  --button-hover-border: #ff8dcb40;
  --accent-color: #ff8dcb;
  --highlight-color: #353430;

  --bg-color: #fff1f7;
  --header__bg-image: url("../images/cover-image-light.png");

  --rec-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --title-color: #ffc2e6;
    --secondary-color: #353430;
    --button-hover-border: #ff8dcb40;
    --accent-color: #ff8dcb;
    --highlight-color: #353430;

    --bg-color: #fff1f7;
    --header__background-image: url("../images/cover-image-light.png");

    --rec-visibility: hidden;
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}