/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family, 'IBM Plex Mono', sans-serif);
  font-size: var(--font-size, 18px);
  font-weight: 400;
  color: var(--text-color, #f1b2ce);
  line-height: var(--line-height, 23.4px);
  background-color: var(--bg-color, #000028);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  color: var(--title-color, #db00ff);
  font-weight: 700;
  font-size: var(--title-font-size, 116px);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.title-decor {
  color: var(--highlight-color, #000028);
  background-color: var(--accent-color, #ff0070);
}

.shadow-decor {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.cover {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.header {
  display: grid;
  background-image: var(--header__bg-image);
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  block-size: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  display: block;
  inset-inline-end: 10px;
  inset-block-start: var(--main-padding, 10px);
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: var(--secondary-color, #ff0070);
}

.header__rec::before {
  content: "rec";
  text-transform: uppercase;
  color: var(--accent-color, #ff0070);
  line-height: 25px;
}

.header__rec {
  position: absolute;
  display: inline-flex;
  visibility: var(--rec-visibility, visible);
  align-items: end;
  gap: 10px;
  inset-inline-end: calc(var(--main-padding, 10px) * 4);
  inset-block-start: 12px;
}

.header__rec::after {
  content: '';
  position: absolute;
  display: block;
  align-items: center;
  grid-column: 2;
  grid-row: 1;
  border-radius: 50%;
  margin-inline-end: 10px;
  inline-size: 12px;
  block-size: 12px;
  color: var(--accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  inset-inline-end: -30px;
  inset-block-start: 6px;
}

.header__theme-menu {
  position: absolute;
  inset-inline-end: 32px;
  inset-block-start: 76px;
  text-align: center;
  margin: 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--secondary-color, #ff0070);
  background-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-border, #ff007040);
  padding: 0 12px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
  padding: 0 12px;
}

.header__theme-menu-button:active {
  border: 1px solid var(--secondary-color, #ff0070);
  padding: 0 12px;
}

.header__theme-menu-button_active {
  margin-inline-end: 3px;
  outline: 1px solid var(--secondary-color, #ff0070);
  padding: 0 12px;
  pointer-events: none;
}

.header__title {
  grid-column: 1 / -1;
  grid-row: 3;
  justify-self: start;
  align-self: start;
  margin-block-start: 228px;
}

.span-text {
  display: block;
}

.header__p {
  grid-column: 1 / -1;
  grid-row: 4;
  justify-self: start;
  align-self: start;
  color: var(--highlight-color, #000028);
  margin-block-start: 54px;
  margin-inline-end: 23px;
  margin-block-end: 66px;
  font-weight: 700;
  line-height: 23.4px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  display: block;
  inset-inline-start: var(--main-padding, 10px);
  inset-block-end: var(--main-padding, 10px);
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: var(--secondary-color, #ff0070);
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
  inline-size: 100%;
}

.main__link {
  text-decoration: none;
}

.main__link:hover {
  text-decoration: underline;
}

.main__link:focus {
  outline: 0;
}

.main__link:focus-visible {
  outline: 1px solid currentColor;
}

.main__section {
  display: grid;
  gap: 19.5px;
}

.main__articles-list {
  display: grid;
  gap: 20px;
}

.main__article {
  display: grid;
  gap: 10px;
}

.main__title {
  color: var(--secondary-color, #ff0070);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.main__title-decor {
  color: var(--main__highlight-color, #000028);
  background: var(--accent-color, #ff0070);
}

.main__section-how__title {
  margin-block-end: 20px;
}

.main__section-gallery {
  gap: 10px;
}

.main__gallery-list {
  display: grid;
  gap: 10px;
}

.main__gallery-list__item-img {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  place-items: center;
  block-size: 100vh;
  inline-size: 100%;
}

.footer__title {
  margin-inline-start: -20px;
}

@media (width >=768px) {

  .page {
    padding-block-start: 10px;
  }

  .decorated-zone::after {
    margin-inline-start: 10px;
  }

  .header__rec {
    inset-inline-end: 38px;
    inset-block-start: 50px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .span-text {
    display: inline;
  }

  .main__section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .main__section-what__articles-list {
    display: grid;
    grid-column-start: span 2;
  }

  .main__section-gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .main__section-how__articles-list {
    grid-column-start: 2;
  }

  .main__gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .main__gallery-list__item:first-child,
  .main__gallery-list__item:last-child {
    grid-column-start: span 2;
  }

  .main__gallery-list__item:nth-child(2),
  .main__gallery-list__item:nth-child(3) {
    grid-row-start: span 2;
  }

  .header {
    block-size: 1004px;
  }

  .header__title {
    margin-block-start: 433px;
    margin-inline-start: -20px;
    font-size: 120px;
  }

  .header__theme-menu {
    margin-block-start: 107px;
  }

  .header__p {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
    margin-block-start: 162px;
    margin-inline-end: 15px;
    margin-block-end: 183px;
  }

  .main {
    gap: 80px;
    padding: 70px 20px;
  }

  .footer {
    block-size: 100vh;
  }

  .footer__title {
    font-size: 119px;
    margin-inline-start: -12px;
  }
}

@media (width >=1024px) {

  .page {
    padding-block-start: 10px;
  }

  .decorated-zone::after {
    margin-block-end: 10px;
  }

  .title {
    font-size: 157px;
    text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  }

  .main {
    padding: 60px 20px;
  }

  .main__section {
    column-gap: 32px;
  }

  .main__section-what__articles-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header {
    block-size: 768px;
    margin-block-start: -10px;
    grid-template-columns: 1fr auto 1fr;
  }

  .header__theme-menu {
    position: static;
    grid-column: 2;
    grid-row: 1;
    margin-block-start: -1px;
    margin-inline-start: 20px;
    justify-self: center;
    align-self: start;
  }

  .header__rec {
    grid-column: 3;
  }

  .header__title {
    grid-column: 1 / -1;
    grid-row: 2;
    justify-self: start;
    margin-block-start: 275px;
    align-self: center;
  }

  .header__p {
    grid-column: 1 / -1;
    grid-row: 3;
    margin: 114px -14px 134px 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 15px;
  }

  .footer {
    margin-block-start: 10px;
    margin-inline-end: -30px;
    block-size: 100vh;
  }

  .footer__title {
    font-size: 156px;
    margin-block-start: -10px;
    margin-inline-start: -15px;
  }

}